@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
body {
  background-color: var(--dark-blue, #202733);
  font-family: "Manrope", sans-serif;
  font-style: normal;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 343px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  background: var(--dark-grayish-blue, #313a48);
  box-shadow: 30px 50px 80px 0px rgba(0, 0, 0, 0.1);
  padding: 43px 20px 76px;
  position: relative;
}
h1 {
  color: var(--neon-green, #53ffaa);
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 4.086px;
}
.text {
  color: var(--light-cyan, #cee3e9);
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.257px;
}
.green-button {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #53ffaa;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#dice {
  height: 20px;
}
#divider-desk {
  display: none;
}
@media screen and (min-width: 1024px) {
  .container {
    width: 540px;
    padding: 48px 48px 79px;
  }
  #divider {
    display: none;
  }
  h1 {
    font-size: 11px;
  }
  .text {
    font-size: 28px;
    letter-spacing: -0.3px;
  }
  #divider-desk {
    display: block;
  }
}
